<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd Insights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% block header %}

    {% endblock header %}

    

    <main class="main-content">
        <section class="cards-section">
            <div class="container">
                <h2 class="section-title">Resources</h2>
                <div class="cards-grid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
    </main>
</body>
</html>