@import url('./home-banner.css');
@import url('./home-cards.css');
@import url('./topnav.css');
@import url('./sidebar.css');
@import url('./dash-main-area.css');
@import url('./main-content.css');

/***************************** Concept Styles *****************************/
/*Concept Info */
@import url('./concepts/all-concepts-intro.css');


/***************************** HTML Concept Styles *****************************/
@import url('./concepts/html-concepts/html-concept-info.css');
@import url('./concepts/html-concepts/html-concept-container.css');

/* Concept Code */
@import url('./component-styles/html-code-box.css');
/* Concept Miniwebsite */
@import url('./component-styles/miniwebsite.css');




/***************************** CSS Concept Styles *****************************/
@import url('./concepts/css-concepts/css-concept.css');



@import url('./footer.css');

* {
    box-sizing: border-box;
}

/* Reset margins and padding for common elements, but not all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Dashboard Container */
.dashboard-container {
    display: flex;
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}