{% from "./dashboard/macros/_lang-home.html" import render_lang_home %}
<!-- Main Content Home -->
 <!-- lang, intro_h3, intro_text, lang_concepts_intro, lang_concepts -->
    {{ render_lang_home(
    lang,
    "Welcome to the HTML Insights! Here you can learn more about the complex topics in HTML.",
    [
        "If you are not familiar with HTML basics, we recommend starting with HTML Tutorial at ",
        "If you have a good grasp of the basics, this is your hub for more advanced HTML skills and knowledge.",
        "Use this guide to explore advanced topics and deepen your understanding of HTML.",
    ],
    "https://www.w3schools.com/html",
    "Advanced HTML",
    [
        ["Semantic HTML", "Master the art of semantic HTML and create web pages that are not only visually appealing but also meaningful, accessible, and search engine optimized. Advanced HTML goes beyond basic tags to explore the rich semantic elements that give structure and meaning to your content, improving both user experience and technical performance."],
        ["Complex Forms", "Dive deep into the world of complex forms and learn how to create dynamic, user-friendly forms that enhance user experience. This section covers advanced form elements, validation techniques, and best practices for building forms that are both functional and accessible."],
        ["Tables and Lists", "Explore the intricacies of creating and managing tables and lists in HTML. This section covers advanced techniques for structuring data, including responsive tables, accessible lists, and best practices for presenting information clearly and effectively."],
        ["Media & Graphics", "Delve into the world of media and graphics in HTML. This section covers advanced techniques for embedding and manipulating images, videos, and other media types, ensuring a rich and engaging user experience."],
        ["Accessibility", "Learn how to create HTML content that is accessible to all users, including those with disabilities. This section covers best practices for using semantic HTML, ARIA roles, and other techniques to ensure your web pages are usable by everyone."],
        ["Best Practices", "Discover the best practices for writing clean, maintainable HTML code. This section covers coding standards, naming conventions, and other tips to help you create high-quality HTML documents."]
    ]
    ) }}




















