<main class="main-content">
    <div class="content-header">
        <h1 id="page-title">{{ lang }} Semantic Elements</h1>
    </div>

    <div class="content-body" id="content-body">
        <!-- SECTION: Introduction -->
        <section class="concept-page-intro">
            <h2>What are Semantic Elements?</h2>
            <p>Semantic elements clearly describe their meaning in a human and machine-readable way.</p>
            <br>
            <p>They provide structure and meaning to the content they enclose, improving accessibility and SEO.</p>
                        <br>

            <p>Using semantic elements helps create a well-structured and meaningful HTML document.</p>
        </section>

        <nav class="concept-nav">
            <a class="element demo-active" href="#header-element">Header</a>
            <a class="element" href="#nav-element">Nav</a>
            <a class="element" href="#main-element">Main</a>
            <a class="element" href="#article-section-elements">Article & Section</a>
            <a class="element" href="#aside-element">Aside</a>
            <a class="element" href="#footer-element">Footer</a>
        </nav>

        <!-- ARTICLE: Header Element Demo -->
        <article id="header-element" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-header">
                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;header&gt;</h2>
                    </div>

                    <!------------ ELEMENT INFO ------------>
                    <div class="element-info">
                        <ul>
                            <li>used to represent introductory content or a group of navigational links for a section of a
                                document or the entire document</li>
                            <li>improves accessibility and SEO by explicitly indicating to browsers and search engines that
                                the enclosed content is introductory or navigational</li>
                            <li>commonly found at the top of a webpage, but can also be used within other sectioning
                                elements like &lt;article&gt; or &lt;section&gt; to provide a header for that specific
                                section</li>
                            <li>helps organize the document's structure, making the HTML code cleaner and more readable</li>
                        </ul>
                    </div>
                </div>
            </header>

            <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;header&gt;<br>
                    &nbsp;&nbsp;&lt;h1&gt;Site Title&lt;/h1&gt;<br>
                    &nbsp;&nbsp;&lt;nav&gt;...navigation...&lt;/nav&gt;<br>
                    &lt;/header&gt;
                </div>
                <!------------ BEST PRACTICES ------------>
                <div class="best-practices">
                    <h5>Best Practices:</h5>
                    <ul>
                        <li>Use for introductory content or navigation</li>
                        <li>Can be used multiple times per page</li>
                        <li>Should not contain &lt;footer&gt; elements</li>
                    </ul>
                </div>

            </div>

        </article>

        <!-- ARTICLE: Navigation Element Demo -->
        <article id="nav-element" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-header">

                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;nav&gt;</h2>
                    </div>
                    <!------------ ELEMENT INFO ------------>
                    <div class="element-info">
                        <ul>
                            <li>used to reprsent a section of a page that contains navigation links, either to other pages
                                within the same website or to different sections within the current page</li>
                            <li>explicitly marks a block of navigation links, improving accessibility and SEO by making the
                                page structure clearer</li>
                            <li>a page can have multiple &lt;nav&gt; elements if there are distinct navigation sections</li>
                            <li>can include breadcrumbs for better navigation</li>
                        </ul>
                    </div>
                </div>

            </header>

            <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;nav&gt;<br>
                    &nbsp;&nbsp;&lt;ul&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;About&lt;/a&gt;&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Contact&lt;/a&gt;&lt;/li&gt;<br>
                    &nbsp;&nbsp;&lt;/ul&gt;<br>
                    &lt;/nav&gt;
                </div>

                <!------------ BEST PRACTICES ------------>
                <div class="best-practices">
                    <h5>Best Practices:</h5>
                    <ul>
                        <li>Use for major navigation blocks</li>
                        <li>Don't overuse - not every link group needs nav</li>
                        <li>Can be used multiple times per page</li>
                    </ul>
                </div>

            </div>

            <!------------ DEMO EXAMPLE ------------>
            <nav class="demo-examples demo-nav">
                <a class="demo-nav-link demo-active" href="">Home</a>
                <a class="demo-nav-link" href="">About</a>
                <a class="demo-nav-link" href="">Services</a>
                <a class="demo-nav-link" href="">Contact</a>
            </nav>


        </article>

        <!-- ARTICLE: Main Element Demo -->
        <article id="main-element" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-header">

                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;main&gt;</h2>
                    </div>
                    <!------------ ELEMENT INFO ------------>
                    <div class="element-info">
                        <ul>
                            <li>used to represent the dominant content of the &lt;body&gt; of a document</li>
                            <li>should be unique to the document and not contain content that is repeated across documents
                                such as sidebars, navigation links, or footers</li>
                            <li>improves accessibility by allowing assistive technologies to quickly locate the main content
                                of the page</li>
                            <li>helps search engines understand the primary topic of the page, potentially improving SEO
                            </li>
                        </ul>
                    </div>
                </div>

            </header>

            <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;main&gt;<br>
                    &nbsp;&nbsp;&lt;h1&gt;Welcome to Our Website&lt;/h1&gt;<br>
                    &nbsp;&nbsp;&lt;p&gt;Here is the main content of the page...&lt;/p&gt;<br>
                    &lt;/main&gt;
                </div>
                <!------------ BEST PRACTICES ------------>
                <div class="best-practices">
                    <h5>Best Practices:</h5>
                    <ul>
                        <li>Only one &lt;main&gt; element per page</li>
                        <li>Should contain primary content</li>
                        <li>Should not contain headers, footers, sidebars</li>
                    </ul>
                </div>

            </div>

        </article>

        <!-- ARTICLE: ARTICLE & SECTION Element Demo -->
        <article id="article-section-elements" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-header">

                <!------------ ARTICLE ELEMENT ------------>
                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;article&gt;</h2>
                    </div>
                    <!------------ ELEMENT INFO ------------>
                    <div class="element-info">
                        <ul>
                            <li>used to represent a self-contained content that is, in principle, independently
                                distributable or reusable</li>
                            <li>content should make sense on its own, even if removed from the surrounding context of
                                the webpage</li>
                            <li>&lt;article&gt; elements can be nested, the inner &lt;article&gt; elements represent
                                content that is related to the outer &lt;article&gt; elements</li>
                        </ul>
                    </div>

                </div>

                <!------------ SECTION ELEMENT ------------>
                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;section&gt;</h2>
                    </div>
                    <!------------ ELEMENT INFO ------------>
                    <div class="element-info">
                        <ul>
                            <li>used to represent a generic standalone section of a document or application</li>
                            <li>used to group related content that forms a thematic unit, often with a heading</li>
                            <li>use &lt;section&gt; when there isn't a more specific semantic element available (like &lt;article&gt;, &lt;aside&gt;, or &lt;nav&gt;) to represent the content</li>
                        </ul>
                    </div>

                </div>

                <p>
                    While both are sectioning elements, &lt;article&gt; is for standalone, independently distributable content, 
                    whereas &lt;section&gt; groups related content within a larger document or another section.
                </p>
            </header>


            <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;article&gt;<br>
                    &nbsp;&nbsp;&lt;h2&gt;News Story 1&lt;/h2&gt;<br>
                    &nbsp;&nbsp;&lt;p&gt;Here is the story content...&lt;/p&gt;<br>
                    &lt;/article&gt;
                    <br><br>
                    &lt;article&gt;<br>
                    &nbsp;&nbsp;&lt;h2&gt;News Story 2&lt;/h2&gt;<br>
                    &nbsp;&nbsp;&lt;p&gt;Here is the story content...&lt;/p&gt;<br>
                    &lt;/article&gt;
                </div>
                <!------------ BEST PRACTICES ------------>
                                <div class="code-example">
                    &lt;section&gt;<br>
                    &nbsp;&nbsp;&lt;h2&gt;Our Products&lt;/h2&gt;<br>
                    &nbsp;&nbsp;&lt;p&gt;this is the section about our products...&lt;/p&gt;<br>
                    &lt;/section&gt;
                    <br><br>
                    &lt;section&gt;<br>
                    &nbsp;&nbsp;&lt;h2&gt;Our Team&lt;/h2&gt;<br>
                    &nbsp;&nbsp;&lt;p&gt;this is the section about our team...&lt;/p&gt;<br>
                    &lt;/section&gt;
                </div>

            </div>


        </article>


        <!-- ARTICLE: ASIDE Element Demo -->
        <article id="aside-element" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-header">

                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;aside&gt;</h2>
                    </div>
                    <!------------ ELEMENT INFO ------------>
                    <div class="element-info">
                        <ul>
                            <li>used to represent content that is related to the main content but is not essential to its understanding</li>
                            <li>often contains sidebars, pull quotes, advertisements or other tangentially related information</li>
                            <li>can improve accessibility by providing additional context or information</li>
                            <li>helps search engines understand the structure of the page and the relationship between different content</li>
                        </ul>
                    </div>
                </div>

            </header>

            <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;aside&gt;<br>
                    &nbsp;&nbsp;&lt;h4&gt;Related&lt;/h4&gt;<br>
                    &nbsp;&nbsp;&lt;p&gt;Content...&lt;/p&gt;<br>
                    &lt;/aside&gt;
                </div>
                <!------------ BEST PRACTICES ------------>
                <div class="best-practices">
                    <h5>Best Practices:</h5>
                    <ul>
                        <li>Use &lt;aside&gt; for tangentially related content</li>
                        <li>Keep &lt;aside&gt; content concise and relevant</li>
                        <li>Can be used multiple times per page</li>
                    </ul>
                </div>

            </div>

        </article>


        <!-- SECTION: Text-level Semantic Elements -->
        <article id="text-level-elements" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-intro-header">
                <h2>Text-Level Semantic Elements</h2>
                <p>Text-level semantic elements provide meaning to inline content, enhancing the structure and readability of text.</p>
                <p>Help convey the importance, emphasis, or role of specific text within a document.</p>
                <p>If there is no semantic purpose, do not use these elements for purely presentational reasons.</p>
                <br>
            </header>

            <!------------ DEMO GRID ------------>
            <div class="grid-two">

                <div class="grid-two-item">
                    <p><span class="tag">&lt;strong&gt;</span> : <strong>Indicates strong importance, seriousness, or urgency for its contents</strong></p>
                    <br>
                    <p><span class="tag">&lt;em&gt;</span> : <em>Indicates emphasized text, typically displayed in italics.</em></p>
                    <br>
                    <p><span class="tag">&lt;mark&gt;</span> : <mark>Highlights text for reference or emphasis.</mark></p>
                    <br>
                    <p><span class="tag">&lt;small&gt;</span> : <small>Renders text in a smaller font size, often for fine print.</small></p>
                    <br>
                    <p><span class="tag">&lt;cite&gt;</span> : <cite>Indicates the title of a creative work, like a book or song.</cite></p>
                </div>

                <div class="grid-two-item">
                    <p><span class="tag">&lt;abbr&gt;</span> :   for <abbr title="HyperText Markup Language">HTML</abbr> abbreviations</p>
                    <br>
                    <p><span class="tag">&lt;code&gt;</span> :  for <code>inline code</code></p>
                    <br>
                    <p><span class="tag">&lt;kbd&gt;</span> :  for <kbd>Ctrl+C</kbd> keyboard input</p>
                    <br>
                    <p><span class="tag">&lt;var&gt;</span> :  for <var>variables</var> in code</p>
                    <br>
                    <p><span class="tag">&lt;s&gt;</span> : <s>Represents text that is no longer accurate or relevant.</s></p>
                </div>

            </div>

        </article>


        <!-- ARTICLE: TIME Element Demo -->
        <article id="aside-element" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-header">

                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;time&gt;</h2>
                    </div>
                    <!------------ ELEMENT INFO ------------>
                    <div class="element-info">
                        <ul>
                            <li>used to represent a represent a specific period in time</li>
                            <li>can include dates, times, or durations</li>
                            <li>primary purpose of this element is to provide a machine-readable format of the date or time for applications like screen readers or search engines</li>
                            <li><strong>datetime attribute</strong> is crucial for providing a machine-readable format of the date or time</li>
                        </ul>
                    </div>
                </div>

            </header>

            <div class="">
                <ul>
                    <li>Always include the <strong>datetime</strong> attribute</li>
                    <li>Use a machine-readable format (e.g., YYYY-MM-DD)</li>
                    <li>Provide human-readable text within the element</li>
                </ul>
            </div>

            <!------------ YEAR STRING DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                   &lt;p&gt;<br>
                   &nbsp;&nbsp;You must be born before &lt;time datetime="2003"&gt;2003&lt;/time&gt; to enter. <br>
                   &lt;/p&gt;
                </div>
                <!------------ CODE DETAILS ------------>
                <div class="code-details">
                    <p>Valid year string: YYYY (e.g., 2025)</p>
                </div>

            </div>

            <!------------ MONTH STRING DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                   &lt;p&gt;<br>
                   &nbsp;&nbsp;The event ends in &lt;time datetime="2026-02"&gt;February 2026&lt;/time&gt;. <br>
                   &lt;/p&gt;
                </div>
                <!------------ CODE DETAILS ------------>
                <div class="code-details">
                    <p>Valid month string: YYYY-MM (e.g., 2025-12)</p>
                </div>

            </div>

            <!------------ DATE STRING DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                   &lt;p&gt;<br>
                   &nbsp;&nbsp;The event starts on &lt;time datetime="2025-12-25"&gt;December 25th, 2025&lt;/time&gt;. <br>
                   &lt;/p&gt;
                </div>
                <!------------ CODE DETAILS ------------>
                <div class="code-details">
                    <p>Valid date strings include:</p>
                    <ul>
                        <li>YYYY-MM-DD (e.g., 2025-12-25)</li>
                        <li>YYYY-MM-DDTHH:MM:SS (e.g., 2025-12-25T10:30:00), local date and time strings</li>
                        <li>YYYY-MM-DDTHH:MM:SSZ (e.g., 2025-12-25T10:30:00Z for UTC time),  global date and time strings with time-zone offset</li>
                    </ul>
                </div>

            </div>

            <!------------ TIME STRING DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                   &lt;p&gt;<br>
                   &nbsp;&nbsp;The meeting is scheduled for &lt;time datetime="14:30"&gt;2:30 pm&lt;/time&gt;.<br>&lt;/p&gt;
                </div>
                <!------------ CODE DETAILS ------------>
                <div class="code-details">
                    <p>Valid time strings include:</p>
                    <ul>
                        <li>HH:MM (e.g., 14:30)</li>
                        <li>HH:MM:SS (e.g., 14:30:00)</li>
                        <li>HH:MM:SSZ (e.g., 14:30:00Z for UTC time)</li>
                    </ul>
                </div>

            </div>

            <!------------ TIME STRING DEMO GRID ------------>
            <h5>The datetime attribute of the HTML <time> element can represent a duration using the ISO 8601 duration format.</h5>
                <br>
            <p><mark>P[nD][T[nH][nM][nS]]</mark></p>

        </article>


        <!-- ARTICLE: ADDRESS Element Demo -->
        <article id="address-element" class="demo-article">
            <!------------ HEADER ------------>
            <header class="demo-grid demo-grid-intro">
                <!------------ ELEMENT ------------>
                <div class="element">
                    <h2>&lt;address&gt;</h2>
                </div>
                <!------------ ELEMENT INFO ------------>
                <div class="element-info">
                    <ul>
                        <li>used to provide contact information for the nearest &lt;body&gt; or &lt;article&gt; ancestor</li>
                        <li>typically relates to the author, owner, or maintainer of the content</li>
                        <li>improves accessibility by clearly indicating contact information to assistive technologies</li>
                    </ul>
                </div>

            </header>

            <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;address&gt;<br>
                    &nbsp;&nbsp;Contact info here...<br>
                    &lt;/address&gt;
                </div>
                <!------------ BEST PRACTICES ------------>
                <div class="best-practices">
                    <h3>Should enclose contact details such as</h3>
                    <ul>
                        <li>physical address: Street, city, state/province, postal code, country</li>
                        <li>email address: often presented as a mailto: link</li>
                        <li>phone number</li>
                        <li>social media handles or URLs: related to the contact person or organization</li>
                        <li>other relevant contact information</li>
                    </ul>
                </div>

            </div>

        </article>


        <!-- ARTICLE:FIGURE Element Demo -->
        <article id="aside-element" class="demo-article">
            <!------------ HEADER ------------>
            <header class="concept-header">
                <!------------ FIGURE ELEMENT ------------>
                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;figure&gt;</h2>
                    </div>
                <!------------ ELEMENT INFO ------------>
                <div class="element-info">
                    <ul>
                        <li>used to represent self-contained content, such as illustrations, diagrams, or photos</li>
                        <li>typically includes a caption or legend to describe the content</li>
                        <li>can be referenced from the main content without disrupting the flow of the document</li>
                        <li>improves accessibility by providing context for visual content</li>
                    </ul>
                </div>

                </div>

                <!------------ FIGCAPTION ELEMENT ------------>
                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;figcaption&gt;</h2>
                    </div>
                <!------------ ELEMENT INFO ------------>
                <div class="element-info">
                    <ul>
                        <li>used to represent the caption or legend for a &lt;figure&gt; element</li>
                        <li>typically includes a description of the content</li>
                        <li>must be the first child of the &lt;figure&gt; element</li>
                        <li>improves accessibility by providing context for visual content</li>
                    </ul>
                </div>

                </div>
            </header>

                        <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;figure&gt;<br>
                    &nbsp;&nbsp;&lt;img src="image.jpg" alt="Description"&gt;<br>
                    &nbsp;&nbsp;&lt;figcaption&gt;Caption&lt;/figcaption&gt;<br>
                    &lt;/figure&gt;
                </div>
                <!------------ BEST PRACTICES ------------>
                <div class="best-practices">
                    <h5>Best Practices:</h5>
                    <ul>
                        <li>Use &lt;figure&gt; for self-contained content</li>
                        <li>Include a &lt;figcaption&gt; for descriptive text</li>
                        <li>Ensure &lt;figure&gt; elements are referenced in the main content</li>
                    </ul>
                </div>

            </div>


        </article>


        <!-- ARTICLE:DETAILS & SUMMARY Element Demo -->
        <article id="aside-element" class="demo-article">

            <!------------ HEADER ------------>
            <header class="concept-header">
                <h3>The &lt;details&gt; and &lt;summary&gt; elements work together to create a native disclosure widget</h3>
                <h3>They are designed with accessibility in mind, providing a semantic structure for collapsible content.</h3>
                <!------------ FIGURE ELEMENT ------------>
                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;details&gt;</h2>
                    </div>
                <!------------ ELEMENT INFO ------------>
                <div class="element-info">
                    <ul>
                        <li>creates a disclosure (disclosure pattern) widget, allowing you to provide additional information that can be shown or hidden by the user</li>
                        <li>inherently provides expand/collapse functionality, that is closed by default, without requiring JavaScript for basic operation</li>
                        <li>use &lt;details&gt; for content that is not immediately necessary, but may be useful for users who want more information</li>
                    </ul>
                </div>

                </div>

                <!------------ FIGCAPTION ELEMENT ------------>
                <div class="demo-grid demo-grid-intro">
                    <!------------ ELEMENT ------------>
                    <div class="element">
                        <h2>&lt;summary&gt;</h2>
                    </div>
                <!------------ ELEMENT INFO ------------>
                <div class="element-info">
                    <ul>
                        <li>provides the always visible heading or title for the collapsible section</li>
                        <li>ensure the &lt;summary&gt; element is always the first child of the &lt;details&gt; element</li>
                        <li>can contain text, images, or other inline elements to describe the content that will be revealed</li>
                    </ul>
                </div>

                </div>
            </header>

            <!------------ DEMO GRID ------------>
            <div class="demo-grid demo-grid-code">
                <!------------ CODE EXAMPLE ------------>
                <div class="code-example">
                    &lt;details&gt;<br>
                    &nbsp;&nbsp;&lt;summary&gt;Click me&lt;/summary&gt;<br>
                    &nbsp;&nbsp;&lt;p&gt;Hidden content&lt;/p&gt;<br>
                    &lt;/details&gt;
                </div>
                <!------------ BEST PRACTICES ------------>
                <div class="best-practices">
                    <ul>
                        <li>the content inside &lt;details&gt; is hidden until the user interacts with the &lt;summary&gt;</li>
                        <li>avoid using &lt;details&gt; for content that should always be visible, as this can lead to a confusing user experience</li>                    </ul>
                </div>

            </div>

            <!------------ DEMO EXAMPLE ------------>
            <div class="demo-examples">
                <div class="demo-example demo-example-1">
                <details>
                <summary>Click to reveal more details</summary>
                    <p>This is the hidden content that will be displayed when the summary is clicked.</p>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                    </ul>
                </details>
                </div>

                <div class="demo-example demo-example-2">
                    <details open>
                    <summary>This section is open by default</summary>
                        <p>More content here.</p>
                    </details>
                </div>
                
            </div>


        </article>

    </div>
           
        
    </div>

</main>