{% from "dashboard/macros/_concept.html" import render_concept %}



    {{ render_concept(
    "HTML Semantic Elements",
    "What are Semantic Elements?",
    [
        "Semantic elements clearly describe their meaning in a human and machine-readable way.",
        "They provide structure and meaning to the content they enclose, improving accessibility and SEO.",
        "Using semantic elements helps create a well-structured and meaningful HTML document."
    ],
    [
    ['<header>', 'used to represent introductory content or a group of navigational links'],
    ['<nav>', 'defines a set of navigation links'],
    ['<main>', 'specifies the main content of a document'],
    ['<footer>', 'defines a footer for a document or section'],
    ['<article>', 'represents a self-contained composition in a document, page, application, or site'],
    ['<section>', 'defines a section in a document'],
    ['<aside>', 'represents a portion of a document whose content is only indirectly related to the document\'s main content'],
    ],
    [
        'Use for main page headers',
        'Can be used multiple times per page within sections',
        'Avoid using for non-introductory content'
    ]
) }}