{% if request.args.get('concept') == 'Semantic Elements' %}<!-- Conditional content includes based on request parameters -->
    {% include "dashboard/langconcepts/htmlconcepts/sematic.html.jinja2" %}
{% elif request.args.get('concept') == 'Flexbox' %}<!-- Conditional content includes based on request parameters -->
    {% include "dashboard/langconcepts/cssconcepts/flexbox.html.jinja2" %}
{% else %}
    <h2>No Content</h2>
{% endif %}