{% extends 'base.html' %}

{% block title %}FrontEnd Insights: CSS Home{% endblock title %}

{% block header %}
    {% include 'dashboard/top-nav.html' %}
{% endblock header %}

{% block main %}
    <div class="dashboard-container">
        {% include 'dashboard/sidebar.html' %}
         
<!-- Conditional content includes based on request parameters -->
        <!-- HTML Content Area -->
        {% if request.args.get('concept') == 'Semantic Elements' %}
            {% include 'dashboard/html/semantic-elements.html' %}
        {% elif lang|lower() == 'html' %}
            {% include 'dashboard/html/html-home.html' %}
        {% endif %}



        <!-- CSS Content Area -->
        {% if lang|lower() == 'css' %}
            {% include 'dashboard/css/css-home.html' %}
        {% endif %}


        <!-- JavaScript Content Area -->
        {% if lang|lower() == 'javascript' %}
            {% include 'dashboard/javascript/javascript-home.html' %}
        {% endif %}


        <!-- Python Content Area -->
        {% if lang|lower() == 'python' %}
            {% include 'dashboard/python/python-home.html' %}
        {% endif %}






    </div>
{% endblock main %}
