{% extends 'base.html' %}

{% block title %}FrontEnd Insights: CSS Home{% endblock title %}

{% block header %}
    {% include 'dashboard/top-nav.html' %}
{% endblock header %}

{% block main %}
    <div class="dashboard-container">
        {% include 'dashboard/sidebar.html' %}
         
        {% if request.args.get('concept') == 'Semantic Elements' %}
            {% include 'dashboard/html/semantic-elements.html' %}
        {% elif lang|lower() == 'html' %}
            {% include 'dashboard/html/html-home.html' %}
        {% endif %}




        
        {% if lang|lower() == 'python' %}
            {% include 'dashboard/python/python-home.html' %}
        {% endif %}




        {% if lang|lower() == 'css' %}
            {% include 'dashboard/css/css-home.html' %}
        {% endif %}


        {% if lang|lower() == 'javascript' %}
            {% include 'dashboard/javascript/javascript-home.html' %}
        {% endif %}
    </div>
{% endblock main %}
